.header-top {
  min-height: 40px;
  border-bottom: 1px solid $color-default-border;

  @include media("<desktop","screen") {
    min-height: auto;
    border-bottom: 0;
  }
}

// ================
// Header Top Left

.header-top-left {
  float: left;
  width: 500px;

  @include media("<desktop","screen") {
    float: none;
    display: inline-block;
    vertical-align: top;
    width: auto;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1000;
  }

  @include media("<mediumScreen","screen") {
    display: none;
  }

}

.header-top-menu {
  display: table;
}

.header-top-menu__item {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  padding: 0 10px;

  font-family: "Lato-Regular";
  font-size: 13px;
  color: inherit;
  transition: color 200ms,text-shadow 400ms;

  @include actions {
    text-decoration: none;
    outline: none;
    color: $color-primary-red;
    // text-shadow: 2px 2px 5px rgba(0,0,0,0.1);

    transition: color 200ms,text-shadow 400ms;
  }

  &:first-of-type {
    padding-left: 0;
  }
}

// ================
// Header Top Right

.header-top-right {
  float: right;
  width: 500px;

  @include media("<desktop","screen") {
    float: none;
    display: none;
  }
}

.header-top-user {
  display: block;
  font-size: 0;
  text-align: right;
}

.header-top-user-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;

  &:last-of-type {
    border-right: 1px solid $color-default-border;

    @include media ("<desktop","screen") {
      border: none;
    }
  }
}

.header-top-user__link {
  display: block;
  padding: 10px 24px;
  font-size: 0;
  line-height: 20px;
  position: relative;
  color: $color-text-black;
  transition: color 100ms, background-color 300ms;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    display: block;
    width: 1px;
    height: 40px;
    background-color: $color-default-border;

    @include media("<desktop","screen") {
      height: 60px;
    }

    @include media("<tablet","screen") {
      height: 51px;
    }
  }

  @include actions {
    text-decoration: none;
    color: $color-text-white;
    background-color: $color-primary-red;

    transition: color 100ms, background-color 300ms;

    &:before {
      background-color: $color-primary-red;
    }

    .header-top-user__link-count {
      color: $color-accent-yellow;

      transition: color 100ms;
    }

    .header-top-user__link-icon--login {
      background-image: url("../img/icon__login-white--small.png");
    }

    .header-top-user__link-icon--favourite {
      background-image: url("../img/icon__heart-white--small.svg");
    }

    .header-top-user__link-icon--cart {
      background-image: url("../img/icon__cart-white--small.svg");
    }
  }

  @include media("<desktop","screen") {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
  }

  @include media("<tablet","screen") {
    width: 51px;
    height: 51px;
  }
}

.header-top-user__link-icon {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;

  @include media("<desktop","screen") {
    width: 60px;
    height: 60px;
    margin-right: 0;
    background-size: 20px;
  }

  @include media("<tablet","screen") {
    width: 51px;
    height: 51px;
    margin-right: 0;
    background-size: 20px;
  }
}

.header-top-user__link-icon--login {
  background-image: url("../img/icon__login--small.png");
}

.header-top-user__link-icon--favourite {
  background-image: url(../img/icon__heart-red--small.svg);
}

.header-top-user__link-icon--cart {
  background-image: url(../img/icon__cart-red--small.svg);
}

.header-top-user__link-title {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;

  @include media("<desktop","screen") {
    display: none;
  }
}

.header-top-user__link-count {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: $color-primary-red;
  margin-left: 3px;

  transition: color 100ms;

  &:before {
    content: "("
  }

  &:after {
    content: ")";
  }

  @include media("<desktop","screen") {
    display: none;
  }
}
