.header-mobile-search {
  display: none;

  @include media("<desktop","screen") {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    border-right: 1px solid $color-default-border;

    @include media("<tablet","screen") {
      display: none;
    }
  }
}

.header-mobile-search__btn {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/icon__search--red.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}
