.header-menu {

  @include media("<desktop","screen") {
    display: block;
    position: relative;

    .container {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    &.show-menu {

      .main-menu {
        left: 0;
        transition: left 400ms;
      }
    }
  }
}


// ================
// Main Menu

.main-menu {
  display: table;
  width: 100%;
  border-top: 1px solid $color-default-border;
  border-bottom: 1px solid $color-default-border;

  @include media("<desktop","screen") {
    position: absolute;
    top: 0;
    left: -400px;
    display: block;
    max-width: 400px;
    border: none;
    background-color: lightgrey;
    padding: 20px 0;
    transition: left 400ms;
    z-index: 100000;
  }
}

.main-menu__item {
  display: table-cell;
  vertical-align: middle;
  height: 51px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  font-family: "Lato-Medium";
  font-weight: 600;
  transition: color 200ms;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }

  @include actions {
    text-decoration: none;
    outline: none;
    color: $color-primary-red;

    transition: color 200ms;
  }

  @include media("<desktop","screen") {
    display: block;
    padding: 12px 15px;
    margin-bottom: 10px;
    height: auto;

    &:first-of-type {
      padding: 12px 15px;
    }

    &:last-of-type {
      padding: 12px 15px;
    }


  }

}
