.header-mobile-menu {
  display: none;

  @include media("<desktop","screen") {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;

    user-select: none;
    cursor: pointer;
    border-right: 1px solid $color-default-border;
  }

  @include media("<tablet","screen") {
    width: 50px;
    height: 50px;
  }
}

.menu-burger-btn {
  @include burger(18px, 3px, 4px, #000, 0, 0.2s);
}

.menu-burger-wrapper {
  display: inline-block;
  vertical-align: top;
  padding: 21px;
  width: 100%;

  @include media("<tablet","screen") {
    padding: 15px;
  }

  &.cross-burger {

    .menu-burger-btn {
      @include burger-to-cross;
    }
  }
}
