.header-info {
  position: relative;
  min-height: 128px;

  @include media("<desktop","screen") {

    .container {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    min-height: 100px;
  }

  @include media("<tablet","screen") {
    min-height: 81px;
  }
}

// ================
// Header Contacts

.header-contacts {
  float: left;
  width: 300px;

  @include media("<desktop", "screen") {
    float: none;
    width: 100%;
    display: block;
    font-size: 0;
    text-align: right;
    height: 40px;
    border-bottom: 1px solid $color-default-border;
  }

  @include media("<tablet", "screen") {
    height: 30px;
  }
}

.header-numbers {
  display: block;
  font-size: 0;
  margin-top: 38px;

  @include media("<desktop", "screen") {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
  }
}

.header-numbers__link {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-family: "Lato-Regular";
  color: inherit;
  letter-spacing: -0.025em;
  margin-left: 16px;

  transition: color 200ms;

  &:first-of-type {
    margin-left: 0;
  }

  @include actions {
    text-decoration: none;
    outline: none;
    color: $color-primary-red;

    transition: color 200ms;
  }

  @include media("<desktop", "screen") {
    line-height: 40px;
    font-size: 16px;
  }

  @include media("<tablet","screen") {
    line-height: 30px;
    font-size: 14px;
  }
}

.header-callback {
  display: block;
  font-size: 0;
  margin-top: 8px;

  @include media("<desktop", "screen") {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
  }
}

.header-callback__link {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 30px;
  padding: 0 15px;
  color: $color-text-white;
  border-radius: 2px;
  background-color: $color-accent-green;
  letter-spacing: 0.025em;

  transition: background-color 300ms;

  @include actions {
    text-decoration: none;
    outline: none;
    color: $color-text-white;
    background-color: $color-green-hover;

    transition: background-color 300ms;
  }

  @include media("<desktop", "screen") {
    font-size: 16px;
    line-height: 40px;
    border-radius: 0;
    min-width: 180px;
  }

  @include media("<tablet","screen") {
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    min-width: auto;
  }
}

.header-callback__title-desktop {
  display: inline;

  @include media("<tablet","screen") {
    display: none;
  }
}

.header-callback__title-mobile {
  display: none;


  @include media("<tablet","screen") {
    display: inline;
  }
}

// =================
// Header Logo

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 250px;
  height: 80px;
  transform: translate(-50%,-50%);

  @include media("<desktop","screen") {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $color-default-border;
    text-align: center;
  }

  @include media("<tablet","screen") {
    height: 51px;
  }
}

.header-logo-title {
  padding: 0;
  margin: 0;

  @include media("<desktop","screen") {
    display: inline-block;
    vertical-align: top;
  }
}

.header-logo-link {
  display: block;

  @include media("<desktop","screen") {
    display: inline-block;
    vertical-align: top;
    padding: 8px 0 7px 0;
  }
}

.header-logo-img {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;

  @include media("<desktop","screen") {
    max-height: 45px;
    margin: 0 auto;
  }

  @include media("<tablet","screen") {
    max-height: 37px;
  }
}


// ===================
// Header Search

.header-search {
  float: right;
  width: 300px;
  text-align: right;
  font-size: 0;

  @include media("<desktop","screen") {
    float: none;
    display: none;
  }
}

.header-search-container {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  text-align: left;
  position: relative;
  margin-top: 47px;
}

.header-search__input {
  display: block;
  width: 100%;
  height: 35px;
  border: 1px solid $color-default-border;
  border-radius: 17px;
  font-size: 13px;
  line-height: 35px;
  padding-left: 35px;
  padding-right: 10px;
  color: $color-accent-grey;

  &:focus {
    outline: none;
  }
}

.header-search__label,
.header-search__btn  {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  background-color: transparent;
  outline: none;
  border: none;
  background-image: url("../img/icon__search.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}


// ========================
// Header Mobile User

.header-mobile-user {
  display: none;

  @include media("<desktop","screen") {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
  }

  .header-top-user__link {
    @include actions {
      border-color: $color-primary-red!important;
    }
  }

  @include media("<tablet","screen") {

    .header-top-auth,
    .header-top-favourite {
      display: none;
    }
  }
}

// ========================
// Header Mobile Controls

.header-mobile-controls {
  display: none;

  @include media("<desktop","screen") {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
  }
}
