body {
  font-family: "OpenSans-Regular", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: $color-default-text;
  background-color: $color-default-bg;
  box-sizing: border-box;
  padding-bottom: 40px;
}

.container {

  padding-left: 20px;
  padding-right: 20px;

  @include media(">=desktop","screen") {
    width: 1200px;
  }

  @include media("<desktop","screen") {
    width: 100%;
  }
}

.list-default {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}
