@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot") format("eot"),
       url("../fonts/OpenSans-Regular/OpenSans-Regular.woff2") format("woff2"),
       url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff"),
       url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot") format("eot"),
       url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff2") format("woff2"),
       url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff"),
       url("../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular/Lato-Regular.eot") format("eot"),
       url("../fonts/Lato-Regular/Lato-Regular.woff2") format("woff2"),
       url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff"),
       url("../fonts/Lato-Regular/Lato-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato-Medium";
  src: url("../fonts/Lato-Medium/Lato-Medium.eot") format("eot"),
       url("../fonts/Lato-Medium/Lato-Medium.woff2") format("woff2"),
       url("../fonts/Lato-Medium/Lato-Medium.woff") format("woff"),
       url("../fonts/Lato-Medium/Lato-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "GothamPro-Regular";
  src: url("../fonts/GothamPro-Regular/GothamPro-Regular.eot") format("eot"),
       url("../fonts/GothamPro-Regular/GothamPro-Regular.woff2") format("woff2"),
       url("../fonts/GothamPro-Regular/GothamPro-Regular.woff") format("woff"),
       url("../fonts/GothamPro-Regular/GothamPro-Regular.ttf");
  font-style: normal;
}
