// ===================
// Do not rename $breakpoints, or all media will collapse

$breakpoints: (
  'phone': 320px,
  'phoneMedium': 375px,
  'phoneLarge': 480px,
  'tabletSmall': 600px,
  'tablet': 768px,
  'mediumScreen': 992px,
  'tabletBig': 1024px,
  'desktop': 1200px,
  'extralargescreen': 1201px,
);

// Default Colors
$color-default-text: #333333;
$color-default-bg: #fff;
$color-default-border: #ebedee;

// White and Black
$color-text-black: #000000;
$color-text-white: #ffffff;

// Primary Colors
$color-primary-red: #ff3801;

// Accent Colors
$color-accent-yellow: #ebe26a;
$color-accent-green: #89c238;
$color-accent-grey: #666666;
$color-accent-light-grey: #999999;

// Elements States
$color-green-hover: #76b719;
$color-size-border-default: #cccccc;
$color-size-border-active: #ff3801;
