.breadcrumbs {
  display: block;
  margin-top: 20px;

  @include media("<desktop","screen") {
    display: none;
  }
}

.list-breadcrumbs {
  font-size: 0;

  li {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 30px;
    margin-left: 22px;
    position: relative;

    &:first-of-type {
      margin-left: 0;

      &:before {
        content: "";
      }
    }

    &:before {
      content: ">";
      position: absolute;
      top: 0;
      left: -14px;
      display: block;
    }
  }

  a {
    color: inherit;

    @include actions {
      color: inherit;
      text-decoration: underline;
    }

  }
}
