.product-single {
  margin-top: 50px;

  @include media("<desktop","screen") {
    margin-top: 40px;
  }

  @include media("<tablet","screen") {
    margin-top: 25px;
  }
}


// ===================
// Product Preview

.product-preview {
  float: left;
  width: 50%;
  padding-right: 20px;
  padding-left: 15px;
  position: relative;

  @include media("<mediumScreen","screen") {
    float: none;
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  @include media("<tablet","screen") {
    float: none;
    display: none;
  }
}

.product-preview-img {
  display: block;
  width: 440px;
  height: auto;

  @include media("<desktop","screen") {
    max-width: 360px;
    width: 100%;
  }

}

// ===================
// Product Info

.product-info {
  float: right;
  width: 50%;
  padding-left: 20px;

  @include media("<mediumScreen","screen") {
    float: none;
    width: 100%;
    padding-left: 0;
  }
}

.product-brand {
  font-size: 14px;
  line-height: 35px;
  color: $color-primary-red;
}

.product-title {
  font-size: 24px;
  line-height: 30px;
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: 400;
  max-width: 420px;
}

.product-stats {
  margin-top: 20px;
}

// =================
// Product Price

.product-price {
  float: left;
  width: 160px;
}

.product-price-default {
  display: block;
}

.product-price-new {
  display: block;

  .product-price__sum {
    font-family: "OpenSans-Semibold";
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
  }

  .product-price__currency {
    font-size: 16px;
    line-height: 24px;
  }
}

.product-price-old {
  display: block;
  color: $color-accent-light-grey;
  text-decoration: line-through;

  .product-price__sum {
    font-size: 13px;
    line-height: 20px;
  }

  .product-price__currency {
    font-size: 13px;
    line-height: 20px;
  }
}

.product-price__currency {
  font-style: normal;
}

// =================
// Product Rating

.product-rating {
  float: left;
  width: 140px;
  padding-top: 5px;
  margin-left: 150px;

  @include media("<desktop","screen") {
    margin-left: 40px;
  }
}

.rating-5 {
  display: block;
  width: 80px;
  height: 13px;
  background-image: url("../img/5-stars.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}

.product-rating__link {
  color: inherit;
  text-decoration: underline;

  @include actions {
    color: $color-accent-grey;
  }
}

// =================
// Product Social Share

.product-social-share {
  float: right;
  width: 100px;
  font-size: 0;
  text-align: right;
  padding-top: 5px;
}

.product-social-share__item {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 7px;
  overflow: hidden;

  &:last-of-type {
    margin-right: 0;
  }
}

.product-social-share__item-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.icon-social {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 1;
}

.icon-social--facebook {
  background-color: #415da6;
  background-image: url("../img/icon__social--facebook.svg");
}

.icon-social--vkontakte {
  background-color: #6084a8;
  background-image: url("../img/icon__social--vkontakte.svg");
}

.icon-social--googleplus {
  background-color: #db4d3f;
  background-image: url("../img/icon__social--googleplus.png");
}

// ==================
// Product Size

.product-size {
  margin-top: 25px;
  font-size: 0;

  @include media("<desktop","screen") {
    display: none;
  }
}

.product-size__title {
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  margin: 0 0 15px 0;
}

.product-size__item {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  margin-left: 10px;

  &:first-of-type {
    margin-left: 0;
  }
}

.product-size__item-label {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid $color-size-border-default;
  font-size: 13px;
  line-height: 40px;
  font-family: "GothamPro-Regular";
  text-align: center;
  user-select: none;
  cursor: pointer;

  transition: border-color 100ms;

  &:hover {
    border-color: $color-accent-grey;
  }
}

.product-size__item-radio {
  display: none;

  &:checked + .product-size__item-label {
    border-width: 2px;
    border-color: $color-size-border-active;
    line-height: 38px;

    transition: border-color 100ms;
  }
}

// ======================
// Product Actions

.product-actions {
  margin-top: 25px;
}

.product-actions-left {
  float: left;
  width: 50%;
  padding-right: 20px;
}

.product-status {
  color: $color-primary-red;
}

.product-buy {
  font-size: 0;
  margin-top: 8px;
  position: relative;
}

.product-buy__button {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  font-family: "Lato-Semibold";
  font-weight: 500;
  border: none;
  outline: none;
  background: none;
  border-radius: 0;
  padding: 0;
  text-align: center;
  background-color: $color-primary-red;
  color: $color-text-white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.product-buy__favourite {
  position: absolute;
  top: 0;
  right: 40px;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon__heart-red--small.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;

  @include media("<desktop","screen") {
    right: 0;
  }
}

// ===================

.product-actions-right {
  float: right;
  width: 50%;
  padding-left: 20px;
}

.product-actions-link-wrapper {
  margin-bottom: 8px;
}

.product-actions__link {
  font-size: 13px;
  line-height: 13px;
  color: inherit;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $color-default-text;

  @include actions {
    text-decoration: none;
    border-bottom-style: dashed;
  }
}

// ===================
// Product Description

.product-description {
  margin-top: 30px;
}

.product-description__title {
  font-family: "OpenSans-Semibold";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.product-description__content {
  margin-top: 15px;
}

.product-description__cut {
  display: inline-block;
  vertical-align: top;
  padding: 5px 0;
  color: $color-primary-red;
  text-decoration: underline;
  transition: font-size 200ms;

  @include actions {
    color: $color-primary-red;
    font-size: 14px;

    transition: font-size 200ms;
  }
}
